.mainBlock{
    border: 2px solid rgba(0, 0, 255, 0.623);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size:20px ;

}
.parentBlock{
    display: flex;
    justify-content: space-evenly;
}
img{
    border: 5px solid red;
}